<% name = user_signed_in? ? current_user.name : 'Stranger' %>
<h1 style="margin-bottom:.4em">Hello, <%= name %></h1>

<% if user_signed_in? %>
  <div style="text-align:right">
    <%= button_to 'New post', new_post_path, method: :get, class: 'btn btn-dark', style: 'margin-bottom:20px' %>
  </div>
<% else %>
  <p>
    Please <%= link_to 'sign in', new_user_session_path %>, or <%= link_to 'join us', new_user_registration_path %> now!
  </p>
<% end %>

<%#= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= paginate @posts %>

<br>
<% @posts.each_with_index do |post, index| %>
  <% if index % 2 == 0 %>
    <div class="card bg-light">
      <%= link_to post.title, post, class: 'card-body text-dark' %>
    </div>
  <% else %>
    <div class="card bg-dark">
      <%= link_to post.title, post, class: 'card-body text-light' %>
    </div>
  <% end %>
<% end %>
<br>

<%#= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= paginate @posts %>


