<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= render 'shared/click' %>
<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Bio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.bio %></td>
        <td><%= link_to 'Detail', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Sign Up', new_user_registration_path %><br />
<%= link_to 'Sign In', new_user_session_path %><br />
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br />
<%= link_to 'Account', edit_user_registration_path %>
<br>
<br>

<h2>Posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>User ID</th>
      <th>User name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.id %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<br>
<br>

<h2>Comments</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>User ID</th>
      <th>User name</th>
      <th>Post ID</th>
      <th>Post title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
        <td><%= comment.user.id %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.post.id %></td>
        <td><%= comment.post.title %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
