<% provide :title, @post.title %>
<h2 style="margin-top:.5em;margin-bottom:.5em"><%= @post.title %></h2>
<p>
  <strong>User:</strong>
  <%= link_to @post.user.name, @post.user %>
</p>
<div class="row">
  <div class="col-6">
    <%= button_to 'Back', root_path, method: :get, class: 'btn btn-dark' %>
  </div>
  <div class="col-6" style="text-align:right">
    <div class="btn-group">
      <% if user_signed_in? %>
        <% if liked?(current_user.id, @post.id) %>
          <%= link_to 'Unlike('+ like_number(@post.id) +')', unlike_path(post_id: @post.id), method: :delete, class: 'btn btn-dark' %>
        <% else %>
          <%= link_to 'Like('+ like_number(@post.id) +')', like_path(post_id: @post.id), class: 'btn btn-dark' %>
        <% end %>
        <% if current_user == @post.user %>
          <%= button_to 'Delete this post', @post, method: :delete, class: 'btn btn-dark', data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<p style="margin-top:1em;text-indent:2em;font-size:22px">
  <%= @post.content %>
</p>

<% if @post.comments.any?%>
<%= render @comments %>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: @post.comments.build, local: true) do |form| %>
    <div class="field">
      <h3><%= form.label "You can comment here:" %></h3>
      <%= form.text_area :content, id: :comment_content, class: 'form-control', rows: '5' %>
    </div>
    <br>

    <%= form.hidden_field :post_id, value: @post.id %>

    <div class="actions">
      <%= form.submit class: 'btn btn-dark' %>
    </div>
  <% end %>
<% end %>
