<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<% if @post.comments.any?%>
<%= render @comments %>
<% end %>

<%= form_with(model: @post.comments.build, local: true) do |form| %>
  <div class="field">
    <%= form.label "Comment Here" %>
    <%= form.text_area :content, id: :comment_content %>
  </div>

  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
