<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container" style="padding-top: 2em">
      <% if notice %>
        <div class="card bg-info">
          <div class="card-body text-white">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="card bg-warning">
          <div class="card-body">
            <%= alert %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
