<!DOCTYPE html>
<html>
  <head>
    <title><%= generate_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    $(function(){
      var height=$(window).width();
      // $('#music').css({
      //   'height':height,
      // });
      var n=1;
      $('#music').click(function(e){
        if(n%4==0){
          var $i=$('<b></b>').text('♪');
        }else if(n%4==1){
          var $i=$('<b></b>').text('♫');
        }else if(n%4==2){
          var $i=$('<b></b>').text('♬');
        }else{
          var $i=$('<b></b>').text('♩');
        }
        n++;
        var x=e.pageX,y=e.pageY;
        $i.css({
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "color": 'grey',
            "font-size": 24,
          });
          $("body").append($i);
          $i.animate({
            "top": y - 180,
            "opacity": 0
          }, 1500, function() {
            $i.remove();
          });
      });
    });
    </script>
  </head>

  <body id="music" style="background-image: url('<%= asset_path('bg.png') %>')">
    <%= render 'shared/navbar' %>
    <div class="container" style="margin-top:1em">
      <% if notice %>
        <div class="card bg-info">
          <div class="card-body text-white">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="card bg-warning">
          <div class="card-body">
            <%= alert %>
          </div>
        </div>
      <% end %>
      <div style="margin-top:1em">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
